@font-face {
  font-family: "Roboto";
  src: url("../fonts/Roboto/Roboto-Bold.ttf");
  src: local("Roboto Bold"), local("Roboto-Bold"),
    url("../fonts/Roboto/Roboto-Bold.ttf") format("truetype");
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: "Roboto";
  src: url("../fonts/Roboto/Roboto-Regular.ttf");
  src: local("Roboto"), local("Roboto-Regular"),
    url("../fonts/Roboto/Roboto-Regular.ttf") format("truetype");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "Roboto Slab";
  src: url("../fonts/RobotoSlab/RobotoSlab-Bold.ttf");
  src: local("Roboto Slab Bold"), local("RobotoSlab-Bold"),
    url("../fonts/RobotoSlab/RobotoSlab-Bold.ttf") format("truetype");
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: "Roboto Slab";
  src: url("../fonts/RobotoSlab/RobotoSlab-Medium.ttf");
  src: local("Roboto Slab Medium"), local("RobotoSlab-Medium"),
    url("../fonts/RobotoSlab/RobotoSlab-Medium.ttf") format("truetype");
  font-weight: 500;
  font-style: normal;
}

:root {
  --bg-color: #fdfeff;
  --accent-color: #5da6ea;
  --font-color: #333534;
}

*,
::before,
::after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

html {
  font-size: 10px;
}

body {
  background-color: var(--bg-color);
  font-family: "Roboto", sans-serif;
  font-size: 1.9rem;
  color: var(--font-color);
  min-height: 100vh;
}

.header {
  padding: 50px 0;
}

.container {
  max-width: 1824px;
  padding: 0 82px 0 144px;
  margin: 0 auto;
}

.header__logo {
  margin-bottom: 55px;
}

.logo__text {
  display: inline-block;
  height: 44px;
  line-height: 44px;
  padding-left: 50px;
  font-family: "Roboto Slab", serif;
  font-size: 2.6rem;
  font-weight: 700;
  letter-spacing: 0.5px;
  position: relative;
}

.logo__text::before {
  content: "";
  background: url("../images/logo.svg") center no-repeat;
  width: 44px;
  height: 41px;
  position: absolute;
  top: 0;
  left: 0;
}

.header__content {
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  gap: 26px;
}

.header__left-section {
  padding-top: 118px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: start;
  -ms-flex-align: start;
  align-items: flex-start;
  -webkit-box-pack: start;
  -ms-flex-pack: start;
  justify-content: flex-start;
  -ms-flex-negative: 0;
  flex-shrink: 0;
  -ms-flex-preferred-size: 49%;
  flex-basis: 49%;
  -webkit-box-flex: 1;
  -ms-flex-positive: 1;
  flex-grow: 1;
}

.header__caption {
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 1px;
  margin-bottom: 22px;
  color: var(--accent-color);
}

.header__title {
  font-family: "Roboto Slab", serif;
  font-size: 6.2rem;
  font-weight: 500;
  margin: 0 0 40px;
  letter-spacing: -1.55px;
  line-height: 1.05;
}

.title_color {
  color: var(--accent-color);
}

.header__desc {
  line-height: 1.35;
  letter-spacing: 0.48px;
  margin: 0 0 58px;
}

.header__start-button {
  padding: 17px 50px;
  border-radius: 12px;
  background-color: var(--accent-color);
  color: #fff;
  font-size: 2.4rem;
  text-decoration: none;
  text-align: center;
  -webkit-transition: all 0.3s linear;
  -o-transition: all 0.3s linear;
  transition: all 0.3s linear;
}

.header__start-button:hover {
  background-color: #0866bd;
}
.header__right-section {
  -ms-flex-preferred-size: 49%;
  flex-basis: 49%;
  -ms-flex-negative: 0;
  flex-shrink: 0;
  background: url("../images/bg-image.png") center center / contain no-repeat;
  max-height: 702px;
}

/* Стиль новой вкладки */
.start-content {
  width: 100vw;
  height: calc(100vh - 80px);
  background: url("../images/bg-newtab.png") top center / contain no-repeat;
}

@media (max-width: 1770px) {
  .container {
    padding: 0 70px 0 95px;
  }

  .header__content {
    gap: 20px;
  }

  .header__left-section {
    -ms-flex-preferred-size: 54%;
    flex-basis: 54%;
  }

  .header__right-section {
    -ms-flex-preferred-size: 44%;
    flex-basis: 44%;
  }

  .header__title {
    font-size: 6rem;
  }
}

@media (max-width: 1540px) {
  body {
    font-size: 1.7rem;
  }

  .header__logo {
    margin-bottom: 20px;
  }

  .header__left-section {
    padding-top: 96px;
  }

  .header__caption {
    margin-bottom: 18px;
  }

  .header__title {
    font-size: 5.5rem;
    margin-bottom: 32px;
  }

  .header__desc {
    letter-spacing: -0.09px;
    margin-bottom: 42px;
  }

  .header__start-button {
    padding: 15px 45px;
    font-size: 2.2rem;
  }
}

@media (max-width: 1400px) {
  body {
    font-size: 1.6rem;
  }

  .header__title {
    font-size: 4.5rem;
  }
}

@media (max-width: 1200px) {
  body {
    font-size: 1.5rem;
  }

  .logo__text {
    font-size: 2rem;
    letter-spacing: 0.2px;
  }

  .header__title {
    font-size: 3.5rem;
  }

  .header__start-button {
    font-size: 1.8rem;
    padding: 12px 40px;
  }
}

@media (max-width: 960px) {
  body {
    font-size: 1.9rem;
  }

  .header {
    padding: 30px 0;
  }

  .container {
    padding: 0 40px;
  }

  .header__content {
    -ms-flex-wrap: wrap-reverse;
    flex-wrap: wrap-reverse;
  }

  .header__left-section,
  .header__right-section {
    -ms-flex-preferred-size: 100%;
    flex-basis: 100%;
  }

  .header__left-section {
    padding-top: 0;
  }

  .header__right-section {
    max-height: 700px;
    min-height: 450px;
    margin-bottom: 50px;
  }

  .header__title {
    font-size: 5.3rem;
  }

  .header__start-button {
    -ms-flex-item-align: stretch;
    -ms-grid-row-align: stretch;
    align-self: stretch;
  }
}

@media (max-width: 741px) {
  body {
    font-size: 1.7rem;
  }
  .header__title {
    font-size: 4rem;
  }
}

@media (max-width: 580px) {
  .container {
    padding: 0 20px;
  }

  .header__title {
    font-size: 3.6rem;
  }
}

@media (max-width: 490px) {
  body {
    font-size: 1.65rem;
  }

  .header__title {
    font-size: 2.6rem;
    letter-spacing: -1px;
    line-height: 1.15;
  }

  .header__right-section {
    min-height: 320px;
    margin-bottom: 20px;
  }
}
